<html>
   <body>
      <H1>Welcome, <%= name %></H1>
  
      <br>
      <H2>Click you name to view Restaurant list, user    <a href="/home?name=<%=name %>"><%= name %></a></H2>
      <a href='/logout'>Logout</a>
   </body>
</html>